@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #ffffff;
  --background-end: #1e293b;
  /* Slate 800 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end)) var(--background);
  min-height: 100vh;
  font-family: var(--font-sans), system-ui, sans-serif;
}